.maplibregl-popup-content {
	font-family: "Montserrat", "Helvetica Neue", "Helvetica", Arial;
	font-weight: 300;
    color: #494949;
}

a.dap-link {
	margin-top: 15px;
	display: inline-block;
	color: #494949;
}

button.maplibregl-popup-close-button {
    background: #fff;
    border-radius: 18px;
    box-shadow: 0 0 0 3px rgba(0,0,0,.15);
    position: absolute;
    top: -9px;
    right: -9px;
    width: 26px;
    height: 26px;
    font-size: 29px;
    line-height: 29px;
    letter-spacing: 0;
    font-weight: 500;
    padding: 0;
    opacity: 1;
    z-index: 3;

    &:hover {
    	background-color: inherit;
    }

    &:before, &:after {
    	content: '';
    }
}

div.popup div.popup-content-wrapper {
    width: auto;
    max-width: none;
    padding: 12px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background: 0 0;
}

div.popup-header h2 {
	font-size: 16px;
	font-weight: 300;
    text-transform: none;
    display: block;
    width: 190px;
    margin: 0;
    padding: 0;
    word-wrap: break-word;
    line-height: 120%;
}

div.popup-content h3 {
	width: auto;
    max-width: 95%;
    display: block;
	text-transform: uppercase;
    cursor: text;
    font-weight: 300 !important;
    margin: 0;
    padding: 0;
    word-wrap: break-word;
    line-height: 120%;

}

div.popup-content span.bbl {
	font-size: 14px;
}

div.popup-content p {
	margin: 0;
}

div.popup div.popup-tip-container {
    position: absolute;
    bottom: -20px;
    left: -4px;
    width: 20px;
    height: 16px;
    margin-left: 28px;
    background: 0 0;
    overflow: hidden;
    z-index: 0;
}

